.fullpage {
  min-height: 500px;
  height: 50px;
  position: relative;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  @include breakpoint(laptop) {
    min-height: 440px;
  }
  @include breakpoint(tablet) {
    min-height: 380px;
  }
  @include breakpoint(mobile) {
    min-height: 300px;
  }
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    background-color: $secondary-color;
    position: absolute;
    left: calc(-1 * (100vw - 100%) / 2);
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to right, rgba($secondary-color, 0.9), rgba($secondary-color, 0.8)),
      url('../img/backgrounds/fullscreen-desktop@1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: linear-gradient(to right, rgba($secondary-color, 0.9), rgba($secondary-color, 0.8)),
        url('../img/backgrounds/fullscreen-desktop@2x.jpg');
    }
  }
}

.fullpage__heading {
  color: white;
  margin: 0;
  font-size: 34px;
  margin-bottom: 20px;
  @include breakpoint(mobile) {
    font-size: 26px;
  }
}

.fullpage__link {
  background-color: $primary-color;
  color: white;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  @include breakpoint(mobile) {
    font-size: 16px;
  }
  &-text {
    position: relative;
    z-index: 3;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s;
  }
  &:link,
  &:visited {
    color: white;
  }

  &:focus,
  &:hover {
    color: $primary-color;
    &::before {
      transform: translate3d(0, 0, 0);
    }
  }
}
