.fullpage {
  min-height: 500px;
  height: 50px;
  position: relative;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    background-color: $secondary-color;
    position: absolute;
    left: calc(-1 * (100vw - 100%) / 2);
    top: 0;
    z-index: -1;
  }
}

.fullpage__heading {
  color: white;
  margin: 0;
  font-size: 34px;
  margin-bottom: 20px;
}

.fullpage__link {
  background-color: $primary-color;
  color: white;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  &-text {
    position: relative;
    z-index: 3;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    transform: translate3d(0, 100%, 0);
    transition: transform .3s;
  }
  &:link,
  &:visited {
    color: white;
  }

  &:focus,
  &:hover {
    color: $primary-color;
    &::before {
      transform: translate3d(0, 0, 0);
    }
  }
}
