.container {
  @include container();
}

.page-header {
  min-height: 100vh;
  // Для IE фикс
  height: 100px; 
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  position: relative;
  @include breakpoint(tablet) {
    min-height: auto;
    height: auto;
  }
  @include breakpoint(mobile) {
    min-height: calc(100vh - 69px);
  }
  
  > .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
      padding: 0;
    }
  }
}

.page-header__inner-block {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(black, .1);
  min-height: 550px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  @include breakpoint(tablet) {
    min-height: auto;
    margin: 40px auto;
  }
  @include breakpoint(mobile) {
    margin: 0;
    border-radius: 0px;
    flex-grow: 1;
    justify-content: center;
  }
  
  &::after {
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(
        to right bottom,
        rgba($secondary-color, 0.5),
        rgba($secondary-color, 0.3)
      ),
      url('../img/backgrounds/header-background@1x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: linear-gradient(
          to right bottom,
          rgba($secondary-color, 0.5),
          rgba($secondary-color, 0.3)
        ),
        url('../img/backgrounds/header-background@2x.jpg');
    }
    @include breakpoint(small-tablet) {
      display: none;
    }
  }
}


.page-content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition: transform 0.7s;
  position: relative;
  z-index: 20;
  min-height: 100vh;
  overflow-x: hidden;
}


.menu-open .page-content {
  transform: translateX(100%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $secondary-color;
  visibility: hidden;
  transition: visibility 0s 0.7s;
  z-index: 10;
  color: white;
  &__left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  &__right-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}


.sidebar__wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 5% 20%;
  backface-visibility: hidden;
  transform: translateX(-50%);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  display: flex;
  @include breakpoint(laptop) {
    padding: 5% 10%;
  }
  @include breakpoint(mobile) {
    flex-direction: column;
    padding: 10%;
  }
}

.menu-open .sidebar {
  visibility: visible;
  transition: visibility 0s 0s;
}


.menu-open .sidebar__wrapper {
  transform: translateX(0);
  transition: transform .8s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.page-footer {
  background-color: white;
  border-top: 1px solid transparent;
  padding: 50px 0px;
  @include breakpoint(mobile) {
    padding: 30px 0px;
  }
  > .container {
    display: flex;
    justify-content: space-between;
    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }
}

.page-footer__social,
.page-footer__info {
  width: 40%;
  @include breakpoint(tablet) {
    width: 48%;
  }
  @include breakpoint(mobile) {
    width: 100%;
    text-align: center;
  }
}


.page-footer__info {
  @include breakpoint(mobile) {
    order: -1;
    margin-bottom: 30px;
  }
}


.page-footer__heading {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  & ~ hr {
    margin: 0;
    margin-bottom: 20px;
  }
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.page-footer__social-list-item {
  margin-right: 10px;
  &:last-of-type {
    margin-right: 0;
  }
}

.page-footer__social-link {
  width: 40px;
  height: 40px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(mobile) {
    width: 45px;
    height: 45px;
  }
  > svg {
    fill: white;
    width: 25px;
    height: 25px;
    display: block;
    @include breakpoint(mobile) {
      width: 30px;
      height: 30px;
    }
  }
}


.page-footer__info-block {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  @include breakpoint(mobile) {
    font-size: 18px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__info-link {
  color: $primary-color;
  font-weight: 600;
  white-space: nowrap;
  font-size: 16px;
  @include breakpoint(mobile) {
    font-size: 18px;
  }
  &:link,
  &:visited {
    color: $primary-color;
  }
}


