// Colors

$primary-color: #ACCA48;
$secondary-color: #243040;

// Fonts

$primary-font: 'Open Sans', 'Arial', 'Helvetica', sans-serif;

// Container width

$max-container-width: 1200px;

// Breakpoints

$large-desktop-width: 1600px;
$desktop-width: 1366px;
$laptop-width: 1200px;
$tablet-width: 992px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;

